@page "/Courier/order/details/{orderCode}/{mail}"

@using CourierHub.Shared.ApiModels
@using CourierHub.Shared.Enums
@using Radzen.Blazor

@inject HttpClient Http
@inject AuthenticationStateProvider Provider

<h1 style="text-align: center;">Status paczki</h1>

<table class="table">
    <thead>
        <tr>
            <th>Kod</th>
            <th>Status</th>
            <th hidden="@(statusType == StatusType.Confirmed)">Data odbioru</th>
            <th hidden="@(statusType != StatusType.Delivered)">Data dostawy</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="white-space:nowrap">@orderCode</td>
            <td style="white-space:nowrap">@statusName</td>
            <td style="white-space:nowrap" hidden="@(statusType == StatusType.Confirmed)">@(parcel.PickupDatetime?.ToString("dd-MM-yyyy"))</td>
            <td style="white-space:nowrap" hidden="@(statusType != StatusType.Delivered)">@(parcel.DeliveryDatetime?.ToString("dd-MM-yyyy"))</td>
        </tr>
    </tbody>
</table>

<div class="col" style="text-align: center;">
    @if (DBsuccess)
    {
        <div class="row bg-success text-white" style="margin-top:10px; height:40px">
            <label class="p-2">Paczka odebrana</label>
        </div>
    }
    <br />
    <button class="btn btn-primary" @onclick="() => PickUp()" hidden="@(statusType != StatusType.Confirmed || DBsuccess)">Odbiór paczki</button>
</div>

@code {
    [Parameter]
    public string? orderCode { get; set; }
    [Parameter]
    public string? mail { get; set; }
    private string? statusName;
    private ApiParcel parcel = new ApiParcel(); // need some GET and PATCH (edit deliverytime and undelivered reason)
    private ApiStatus status = new ApiStatus();
    private StatusType statusType;
    private bool DBsuccess = false;

    protected async override Task OnInitializedAsync()
    {
        var x = await Http.GetAsync($"{Http.BaseAddress}Order/{orderCode}/status");
        Console.WriteLine(x.StatusCode + " GET ORDERS STATUS");
        if (x.IsSuccessStatusCode)
        {
            var c = await x.Content.ReadFromJsonAsync<ApiStatus>();
            if (c != null)
            {
                status = c;
                Enum.TryParse(status.Name, out statusType);
                statusName = Enum2String(statusType);
            }
            else
            {
                Console.WriteLine("BAD DESERIALIZATION");
            }
        }
        else
        {
            Console.WriteLine("FAIL");
        }
    }

    private async void PickUp()
    {
        parcel.PickupDatetime = DateTime.Now;
        var response = await Http.PatchAsJsonAsync($"{Http.BaseAddress}Courier/{mail}/order/{orderCode}/parcel", parcel);
        Console.WriteLine("PATCH PARCEL STATUS : " + response.StatusCode);

        if (response.IsSuccessStatusCode)
        {
            DBsuccess = true;
            statusType = StatusType.PickedUp;
            statusName = Enum2String(statusType);
            StateHasChanged();
        }
    }


    private string? Enum2String(StatusType statusType)
    {
        int type = (int)statusType;
        StatusTypePL statusTypePL = (StatusTypePL)Enum.ToObject(typeof(StatusTypePL), type);
        string? res = Enum.GetName(typeof(StatusTypePL), statusTypePL);
        return res?.Replace('_', ' ');
    }
}
