@page "/OfficeWorker/Orders/Review"

@using CourierHub.Shared.ApiModels
@using CourierHub.Shared.Enums
@using CourierHub.Shared.Data

@inject OrderContainer Container
@inject HttpClient Http

<h1>Przegląd oferty</h1>

<div class="container">
    <h1>Dane osobowe</h1>
    <hr />
    <EditForm Model="Order">
        <h2>Dane podstawowe</h2>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group row" style="margin-top:10px">
                    <div class="col-md-6">
                        <label for="Name" class="col-form-label">Imię</label>
                        <input type="text" class="form-control" id="Name" @bind-value="@Order.ClientName" disabled="true" />
                    </div>

                    <div class="col-md-6">
                        <label for="Surname" class="col-form-label">Nazwisko</label>
                        <input type="text" class="form-control" id="Surname" @bind-value="@Order.ClientSurname" disabled="true" />
                    </div>
                </div>

                <div class="form-group row" style="margin-top:10px">
                    <div class="col-md-12">
                        <label for="Email" class="col-form-label">Email</label>
                        <input type="text" class="form-control" id="Email" @bind-value="@Order.ClientEmail" disabled="true" />
                    </div>
                </div>
            </div>
        </div>

        <hr />
        <h2>Dane dodatkowe</h2>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group row" style="margin-top:10px">
                    <div class="col-md-6">
                        <label for="Phone" class="col-form-label">Numer telefonu</label>
                        <input type="text" class="form-control" id="Phone" @bind-value="@Order.ClientPhone" disabled="true" />
                    </div>

                    <div class="col-md-6">
                        <label for="Company" class="col-form-label">Firma</label>
                        <input type="text" class="form-control" id="Company" @bind-value="@Order.ClientCompany" disabled="true" />
                    </div>
                </div>
            </div>
        </div>

        <hr />
        <h2>Adres zamieszkania</h2>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group row" style="margin-top:10px">
                    <div class="col-md-12">
                        <label for="City" class="col-form-label">Miasto</label>
                        <input type="text" class="form-control" id="CA_City" @bind-value="@Order.ClientAddress.City" disabled="true" />
                    </div>
                </div>

                <div class="form-group row" style="margin-top:10px">
                    <div class="col-md-6">
                        <label for="Street" class="col-form-label">Ulica</label>
                        <input type="text" class="form-control" id="CA_Street" @bind-value="@Order.ClientAddress.Street" disabled="true" />
                    </div>

                    <div class="col-md-6">
                        <label for="Number" class="col-form-label">Numer budynku</label>
                        <input type="text" class="form-control" id="CA_Number" @bind-value="@Order.ClientAddress.Number" disabled="true" />
                    </div>
                </div>

                <div class="form-group row" style="margin-top:10px">
                    <div class="col-md-6">
                        <label for="Street" class="col-form-label">Numer lokalu</label>
                        <input type="text" class="form-control" id="CA_Flat" @bind-value="@Order.ClientAddress.Flat" disabled="true" />
                    </div>

                    <div class="col-md-6">
                        <label for="PostalCode" class="col-form-label">Kod pocztowy</label>
                        <input type="text" class="form-control" id="CA_PostalCode" @bind-value="@Order.ClientAddress.PostalCode" disabled="true" />
                    </div>
                </div>
            </div>
        </div>

        <hr />
        <div style="margin-bottom: 50px;"></div>
        <h1>Podsumowanie zamówienia</h1>

        <h2>Oferta</h2>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group row" style="margin-top:10px">
                    <div class="col-md-12">
                        <label for="Price" class="col-form-label">Cena</label>
                        <input type="number" class="form-control" id="Price" @bind-value="@Order.Price" disabled="true" />
                    </div>
                </div>
            </div>
        </div>

        <hr />
        <h2>Wymiary paczki</h2>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group row" style="margin-top:10px">
                    <div class="col-md-6">
                        <label for="Width" class="col-form-label">Szerokość</label>
                        <input type="text" class="form-control" id="Width" @bind-value="@Inquire.Width" disabled="true" />
                    </div>

                    <div class="col-md-6">
                        <label for="Length" class="col-form-label">Wysokość</label>
                        <input type="text" class="form-control" id="Length" @bind-value="@Inquire.Length" disabled="true" />
                    </div>
                </div>

                <div class="form-group row" style="margin-top:10px">
                    <div class="col-md-6">
                        <label for="Depth" class="col-form-label">Głębokość</label>
                        <input type="text" class="form-control" id="Depth" @bind-value="@Inquire.Depth" disabled="true" />
                    </div>

                    <div class="col-md-6">
                        <label for="Mass" class="col-form-label">Masa</label>
                        <input type="text" class="form-control" id="Mass" @bind-value="@Inquire.Mass" disabled="true" />
                    </div>
                </div>
            </div>
        </div>

        <hr />
        <h2>Okres wysyłki </h2>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group row" style="margin-top:10px">
                    <div class="col-md-6">
                        <label for="SourceDate">Data wysyłki</label>
                        <input type="date" class="form-control" id="src" @bind-value="@Inquire.SourceDate" disabled="true" />
                    </div>

                    <div class="col-md-6">
                        <label for="DestinationDate">Data dostawy</label>
                        <input type="date" class="form-control" id="destDate" @bind-value="@Inquire.DestinationDate" disabled="true" />
                    </div>
                </div>
            </div>
        </div>

        <hr />
        <h2>Właściwości przesyłki </h2>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group row" style="margin-top:10px">
                    <div class="col-md-4">
                        <InputCheckbox @bind-Value="Inquire.IsWeekend" disabled="true" /> Możliwość dostawy w weekend
                    </div>

                    <div class="col-md-4">
                        <InputCheckbox @bind-Value="Inquire.IsCompany" disabled="true" /> Wysyłka jako pracownik firmy
                    </div>

                    <div class="col-md-4">
                        <label>Priorytet paczki: @((PriorityTypePL)Inquire.Priority)</label>
                    </div>
                </div>
            </div>
        </div>

        <hr />
        <h2>Adres wysyłki</h2>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group row" style="margin-top:10px">
                    <div class="col-md-12">
                        <label for="City" class="col-form-label">Miasto</label>
                        <input type="text" class="form-control" id="SA_City" @bind-value="@Inquire.Source.City" disabled="true" />
                    </div>
                </div>

                <div class="form-group row" style="margin-top:10px">
                    <div class="col-md-6">
                        <label for="Street" class="col-form-label">Ulica</label>
                        <input type="text" class="form-control" id="SA_Street" @bind-value="@Inquire.Source.Street" disabled="true" />
                    </div>

                    <div class="col-md-6">
                        <label for="Number" class="col-form-label">Numer budynku</label>
                        <input type="text" class="form-control" id="SA_Number" @bind-value="@Inquire.Source.Number" disabled="true" />
                    </div>
                </div>

                <div class="form-group row" style="margin-top:10px">
                    <div class="col-md-6">
                        <label for="Street" class="col-form-label">Numer lokalu</label>
                        <input type="text" class="form-control" id="SA_Flat" @bind-value="@Inquire.Source.Flat" disabled="true" />
                    </div>

                    <div class="col-md-6">
                        <label for="PostalCode" class="col-form-label">Kod pocztowy</label>
                        <input type="text" class="form-control" id="SA_PostalCode" @bind-value="@Inquire.Source.PostalCode" disabled="true" />
                    </div>
                </div>
            </div>
        </div>

        <hr />
        <h2>Adres docelowy</h2>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group row" style="margin-top:10px">
                    <div class="col-md-12">
                        <label for="City" class="col-form-label">Miasto</label>
                        <input type="text" class="form-control" id="DA_City" @bind-value="@Inquire.Destination.City" disabled="true" />
                    </div>
                </div>

                <div class="form-group row" style="margin-top:10px">
                    <div class="col-md-6">
                        <label for="Street" class="col-form-label">Ulica</label>
                        <input type="text" class="form-control" id="DA_Street" @bind-value="@Inquire.Destination.Street" disabled="true" />
                    </div>

                    <div class="col-md-6">
                        <label for="Number" class="col-form-label">Numer budynku</label>
                        <input type="text" class="form-control" id="DA_Number" @bind-value="@Inquire.Destination.Number" disabled="true" />
                    </div>
                </div>

                <div class="form-group row" style="margin-top:10px">
                    <div class="col-md-6">
                        <label for="Street" class="col-form-label">Numer lokalu</label>
                        <input type="text" class="form-control" id="DA_Flat" @bind-value="@Inquire.Destination.Flat" disabled="true" />
                    </div>

                    <div class="col-md-6">
                        <label for="PostalCode" class="col-form-label">Kod pocztowy</label>
                        <input type="text" class="form-control" id="DA_PostalCode" @bind-value="@Inquire.Destination.PostalCode" disabled="true" />
                    </div>
                </div>
            </div>

            @if (displayOfferAccepted)
            {
                <div class="row bg-success text-white" style="margin-top:10px; height:40px">
                    <label class="p-2">Oferta zaakceptowana</label>
                </div>
            }
            @if (displayOfferDenied)
            {
                <div class="row bg-success text-white" style="margin-top:10px; height:40px">
                    <label class="p-2">Oferta odrzucona</label>
                </div>
            }

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group row" style="margin-top:10px">
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-info" Style="margin-top:10px" @onclick="Accept" disabled="@buttonDisabled">Zaakceptuj ofertę</button>
                        </div>

                        <div class="col-md-6">
                            <button type="submit" class="btn btn-info" Style="margin-top:10px" @onclick="Deny" disabled="@buttonDisabled">Odrzuć ofertę</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr />
    </EditForm>
</div>

@code {
    ApiOrder Order = new ApiOrder();
    // Need to load Inquire for given Offer
    // GET Inquire by Code???
    ApiInquire Inquire = new ApiInquire
        {
            Width = 10,
            Priority = 0,
            Length = 20,
            Depth = 30,
            Datetime = DateTime.Today,
            Source = new ApiAddress
            {
                City = "abdsguyusuksc",
                Street = "abdjgdkc",
                Number = "1",
                Flat = "1",
                PostalCode = "00-000"
            },
            Destination = new ApiAddress
            {
                City = "abddjkvhkjdhkc",
                Street = "abxzhjjvkjfc",
                Number = "1",
                Flat = "1",
                PostalCode = "00-000"
            }
        };

    private bool displayOfferAccepted = false;
    private bool displayOfferDenied = false;
    private bool buttonDisabled = false;

    protected override void OnInitialized()
    {
        Order = Container.Orders.Last();
        // TODO: load Inquire
    }

    private async void Accept()
    {
        var response = await Http.PatchAsJsonAsync($"{Http.BaseAddress}Order/{Order.Code}/status", StatusType.Confirmed);
        Console.WriteLine("PATCH ORDER STATUS : " + response.StatusCode);
        if(response.IsSuccessStatusCode) {
            buttonDisabled = true;
            displayOfferAccepted = true;
            StateHasChanged();
        }
    }

    private async void Deny()
    {
        var response = await Http.PatchAsJsonAsync($"{Http.BaseAddress}Order/{Order.Code}/status", StatusType.Denied);
        Console.WriteLine("PATCH ORDER STATUS : " + response.StatusCode);
        if (response.IsSuccessStatusCode)
        {
            buttonDisabled = true;
            displayOfferDenied = true;
            StateHasChanged();
        }
    }
}
